{
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-env",
      {
        "modules": false
      }
    ]
  ],
  "env": {
    "production": {
      "ignore": ["./components/**/*.test.js", "./components/**/*/__snapshots__"]
    }
  }
}
