{
  "processors": [
    "stylelint-processor-styled-components"
  ],
  "extends": [
    "stylelint-config-recommended",
    "stylelint-order-config-csscomb",
    "stylelint-config-styled-components"
  ],
  "plugins": [
    "stylelint-order"
  ],
  "rules": {
    "selector-type-no-unknown": [
      true,
      {
        "ignoreTypes": [
          "/^-styled-mixin/"
        ]
      }
    ]
  }
}
